
.about p{
    color: #414141;
    font-size: 18px;
    margin-left: 20px;
    font-weight: bold;
}
.imgs{
    margin: 20px auto;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.imgs img{
    width: 47%;
    margin: 20px;
}